body {
    background: #666 !important;
}

.header {
    height: 300px;
    background: url("../img/header_background.png") no-repeat center;
    
}

.header h1, .header p {
    text-align: center;
    color: #fff;
}

.header h1 {
    font-size: 77px;
}

.footer {
    height: 81px;
    background: url("../img/footer_background.png") no-repeat center;
}

.error {
    color: #f00;
    font-weight: bold;
}

.nav-tabs {
    border: 0px solid black !important;
}